<div *ngIf="question">
  <div class="question-item">
    <div class="head-question">
      <div class="question-title">
        <div>{{ question.id }}</div>
        <div>{{ question.title }}</div>
      </div>

      <div class="answers">
        <ul>
          <li *ngFor="let answerItem of question.answers">
            <label>
              <input type="radio" value="answerItem.points" name="radiogroup" (click)="saveUserAnswer(answerItem)"
                class="answer-checkbox" />
              {{ answerItem.text }}</label>
          </li>
        </ul>
      </div>

      <div class="group-btns">
        <button [attr.disabled]="prevFlag ? null : 'disabled'"
          [ngClass]="{ btn: question.id - 1> 0, 'btn-hide':!(question.id - 1 > 0)}"
          (click)="goToPrevQuestion(question.id)">
          PREV
        </button>
        <button [attr.disabled]="nextFlag ? null : 'disabled'"
          [ngClass]="{ btn: question.id + 1 <= 10, 'btn-hide': !(question.id + 1 <= 10) }"
          (click)="goToNextQuestion(question.id)">
          NEXT
        </button>
      </div>
    </div>
  </div>
</div>
