.question-item {
  background-color: blue;
  /* position: relative;*/
  width: 350px;
  padding: 30px 30px 15px;
  background: grayscale($color: #b3cfc8);
  border: 1px solid;
  border-color: #dfdcdc #d9d6d6 #ccc;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  display: grid;
  grid-gap: 30px;
}

.question-item::before,
.question-item::after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 4px;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
}

.question-item::after {
  bottom: -3px;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.question-item::before {
  bottom: -5px;
  left: 2px;
  right: 2px;
  border-color: #c4c4c4;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}


.question-title {
  border: 1px solid black;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  text-align: center;
  padding: 25px;
  /*background-color: crimson;*/
}

.form-container {
  display: grid;
  grid-gap: 30px;
}

.answers {
  border: 1px solid black;
  padding: 15px;
}

.answer-checkbox {
  flex-shrink: 0;
  margin: auto 1ex auto 0;
}

.group-btns {
  padding: 15px;
  border: rgba($color: #000000, $alpha: 1) solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-hide {
  display: none;
}

.btn {
  background: lightseagreen;
  color: #fff;
  padding: 3px 10px;
  margin: 0 0 0 3px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  vertical-align: bottom;
}


button[disabled] {
  background-color: darken($color: #000000, $amount: 0);
}
